{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
             <form method="post" class="p-3 shadow">
                 {% csrf_token %}
                 <h3>Add Tasks</h3>
                 <div class="form-group">
                     <input class="form-control" type="text" name="task" placeholder="Task name">
                 </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="priority" placeholder="Enter the priority">
                 </div>
                 <div class="form-group">
                     <input class="form-control" type="date" name="date" placeholder="Date">
                 </div>
                <input class="btn btn-success" type="submit">

             </form>

        </div>
        <div class="col-md-6">
            <h4>Tasks To Be Completed</h4>
            {% for i in task_all %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><bold>{{i.priority}}</bold></p>
                    <p>{{i.date}}</p>
                    <a class="btn btn-success" href="{% url 'todoapp:delete' i.id %}">Done</a>
                    <a class="btn btn-warning" href="{% url 'todoapp:update' i.id %}">Edit</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}




