<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
<h1 style="text-align:center;color:red;">Hello {{obj}}</h1>
<p style="font-size:16px;font-weight:200px;color:green">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid asperiores assumenda corporis cum distinctio doloremque eaque expedita itaque, laboriosam magnam magni nisi, perferendis reiciendis sequi? Nobis odio omnis optio!</p>
<form action="add/" method="get">
    <input type="text" name="num1" placeholder="Number 1">
    <input type="text" name="num2" placeholder="Number 2">
    <input type="submit" value="submit">
</form>
</body>
</html>