<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 style="text-align:center;color:red;">Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi corporis est eum exercitationem explicabo ipsa laudantium, necessitatibus perspiciatis placeat, quae quis rerum similique ullam voluptas voluptates? Distinctio exercitationem ipsum suscipit.</p>
<form action="calculate/" method="get">
    <input type="text" name="num1" placeholder="Number 1"><br>
    <input type="text" name="num2" placeholder="Number 2"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>